// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$theme-primary: #4608ad;
$theme-secondary: #fafafa;

$body-font-family: Averta, Arial, sans-serif;

$font-size-root: 18px;

$material-light: (
  text: (
    primary: #4a4a4a
  )
);

$headings: (
  'h1': (
    'size': 2.5rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 1.75rem,
    'line-height': 1.5em,
    'weight': 400,
  ),
  'h3': (
    'size': 1.25rem,
    'line-height': 1.5em,
    'weight': 500,
  )
);

@import '~vuetify/src/styles/styles.sass';
@import '~vuetify/src/components/VBtn/_variables.scss';
@import '~vuetify/src/components/VTabs/_variables.scss';

$btn-text-transform: none;
$btn-letter-spacing: normal;
